<div>
<section class="blog_posts">
  <h2 class="all-blog_posts">All Blog Posts</h2>
  <p> Click User Profile to Create a Post</p>
    <ul class="blog_post-list">  
      <div class="row">
      {{#each blog_post as |blog_post|}}
      <li>
        {{> blog_post-info blog_post}}
      </li>
      {{/each}}
      </div>
    </ul>
  </div>
</section>


