<div class="home-title">
    <h1 class="h1-home-title">Welcome to Tech Blog! We're an ugly site and we know it! But hey, I needed to get this done and move on with other work!</h1>
</div>

<div class="home-phrase">
    <h3 class="h3-home-phrase">I guess tech info goes here or something</h3>
</div>
